<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/earth.css">
  <link rel="icon" type="image/png" href="/assets/avatar.png"/>
  <div class="h-card" style="display: none;">
    <img class="u-photo" src="https://draft730.fyi/avatar.png"/>
    <a class="u-url" href="https://draft730.fyi/" rel="me"></a>
    <span class="p-name">Azalea M.</span>
    <div class="p-note">mrrrp</div>
    <a class="u-email" rel="me" href="mailto:azalea@purelymail.com"></a>
  </div>
</head>
<body>
  {{ content | safe }}
  <footer>
    <small><a href="/">home</a> | <a href="/colophon">colophon</a></small>
    <small>steal this <a href="https://coolors.co/1f2421-203533-214f4e-216869-358471-49a078-9cc5a1-bcd3c0-dce1de">color scheme</a> or this <a href="/assets/earth.css">style sheet</a></small><br>
    <div class="88x31">
        {% for f in ["archlinux.gif","css.gif","estrogen.gif","mastodon.gif","stopmicrosoft.gif","niko.jpg"] %}<img src="/assets/88x31/{{ f }}" width="88" height="31">{% if loop.index % 3 == 0 %}<br>{% endif %}{% endfor %}
    </div>
    <!--<img src="https://hitscounter.dev/api/hit?url=draft730.fyi&label=&icon=people-fill&color=%231f2421&message=&style=flat-square&tz=UTC">-->
    <small>copyright 2026 draft730</small>
  </footer>
</body>
</html>
